.box-sel, .box-new, .box-other {
  width: 100%;
  height: 100%;
  position: relative; }
  .box-sel .big, .box-new .big, .box-other .big {
    font-size: 1.2rem;
    padding: 20px; }

.box-new {
  color: pink; }
  .box-new .este {
    text-align: center; }

.container {
  color: #888;
  margin: 0 auto;
  max-width: 680px;
  padding: 0 20px; }

.box {
  background-color: #E6EBE0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  color: #444; }
  .box .head {
    border-bottom: 1px solid #9BC1BC;
    padding-bottom: 10px; }
    .box .head h3 {
      color: #5CA4A9;
      margin: 0; }
  .box .content {
    padding-top: 10px; }

.box-grey {
  background-color: #2B3A34;
  border-radius: 6px;
  margin-bottom: 50px;
  padding: 25px;
  color: white; }

/* Forma 1: */
.selector {
  padding: 20px; }
  @media (min-width: 680px) and (max-width: 1024px) {
    .selector {
      padding: 10px; } }

/* Forma 2: */
@media (min-width: 680px) and (max-width: 1024px) {
  .selector {
    padding: 20px; }

  .selector-2 {
    padding: 30px; }

  .selector-3 {
    padding: 40px; } }
.btn {
  background-color: #9BC1BC;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: .8em;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase; }
  .btn:hover {
    opacity: .8; }
  .btn-cta {
    background-color: #ED6A5A;
    padding-left: 30px;
    position: relative; }
    .btn-cta::before {
      content: '';
      display: block;
      left: 15px;
      position: absolute;
      top: 18px;
      border-color: transparent;
      border-left-color: white;
      border-style: solid;
      border-width: 4px; }

.btn-facebook {
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: .8em;
  padding: 10px 20px 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #3B5998;
  background-image: url("../images/icon-facebook.png");
  background-position: 8px 12px;
  background-repeat: no-repeat;
  background-size: 20px 20px; }

.btn-twitter {
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: .8em;
  padding: 10px 20px 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #00ACED;
  background-image: url("../images/icon-twitter.png");
  background-position: 8px 12px;
  background-repeat: no-repeat;
  background-size: 20px 20px; }

.btn-gplus {
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: .8em;
  padding: 10px 20px 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #DD4B39;
  background-image: url("../images/icon-gplus.png");
  background-position: 8px 12px;
  background-repeat: no-repeat;
  background-size: 20px 20px; }

/* Sistema de Grillas */
.col-1 {
  margin: 0 10px;
  width: 64px; }

.col-2 {
  margin: 0 10px;
  width: 128px; }

.col-3 {
  margin: 0 10px;
  width: 192px; }

.col-4 {
  margin: 0 10px;
  width: 256px; }

.col-5 {
  margin: 0 10px;
  width: 320px; }

.col-6 {
  margin: 0 10px;
  width: 384px; }

.col-7 {
  margin: 0 10px;
  width: 448px; }

.col-8 {
  margin: 0 10px;
  width: 512px; }

.col-9 {
  margin: 0 10px;
  width: 576px; }

.col-10 {
  margin: 0 10px;
  width: 640px; }

.col-11 {
  margin: 0 10px;
  width: 704px; }

.col-12 {
  margin: 0 10px;
  width: 768px; }

/* Sistema de margenes izquierdos */
.pre-1 {
  margin-left: 84px; }

.pre-2 {
  margin-left: 168px; }

.pre-3 {
  margin-left: 252px; }

.pre-4 {
  margin-left: 336px; }

.pre-5 {
  margin-left: 420px; }

.pre-6 {
  margin-left: 504px; }

.pre-7 {
  margin-left: 588px; }

.pre-8 {
  margin-left: 672px; }

.pre-9 {
  margin-left: 756px; }

.pre-10 {
  margin-left: 840px; }

.pre-11 {
  margin-left: 924px; }

body {
  color: #444;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }
  body h1 {
    color: #888;
    font-size: 2em;
    line-height: 1.2em;
    margin: 1em; }
  body h2 {
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 0 0 .5em 0; }

/*# sourceMappingURL=master.css.map */
