/*
Error: Invalid US-ASCII character "\xC3"
        on line 7 of scss/_mixins.scss
        from line 4 of scss/master.scss

2: @mixin box( $bg: #F2F2F2, $radius: null, $space: 20px ) {
3:     background-color: $bg;
4:     // Valida si el valor de radius NO esta asignado en pixeles
5:     @if unit( $radius ) != 'px' {
6:         @error 'La unidad de medida debe ser en pixeles';
7:         @debug 'El valor ingresado es: ' + $radius;         // La ejecución no continua. La directiva @error detiene la ejecución y
8:         $radius: 1px * $radius;                             // Lanza el respectivo error dentro del archivo css final, en la terminal donde se esta procesando Sass a CSS y en el navegador
9:     }
10:     @else {
11:         border-radius: $radius;
12:     }

Backtrace:
scss/_mixins.scss:7
scss/master.scss:4
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/util.rb:1090:in `rescue in block in find_encoding_error'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/util.rb:1087:in `block in find_encoding_error'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/util.rb:1086:in `each'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/util.rb:1086:in `each_with_index'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/util.rb:1086:in `find_encoding_error'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/util.rb:814:in `check_sass_encoding'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/engine.rb:444:in `check_encoding!'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/engine.rb:400:in `_to_tree'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/engine.rb:321:in `to_tree'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/stack.rb:88:in `block in with_import'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/stack.rb:88:in `with_import'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/stack.rb:79:in `block in with_base'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/stack.rb:79:in `with_base'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `map'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:209:in `each'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:320:in `block in watch'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/home/jcarlosj/.rvm/gems/ruby-2.5.1/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xC3\"\A         on line 7 of scss/_mixins.scss\A         from line 4 of scss/master.scss\A \A 2: @mixin box( $bg: #F2F2F2, $radius: null, $space: 20px ) {\A 3:     background-color: $bg;\A 4:     // Valida si el valor de radius NO esta asignado en pixeles\A 5:     @if unit( $radius ) != 'px' {\A 6:         @error 'La unidad de medida debe ser en pixeles';\A 7:         @debug 'El valor ingresado es: ' + $radius;         // La ejecución no continua. La directiva @error detiene la ejecución y\A 8:         $radius: 1px * $radius;                             // Lanza el respectivo error dentro del archivo css final, en la terminal donde se esta procesando Sass a CSS y en el navegador\A 9:     }\A 10:     @else {\A 11:         border-radius: $radius;\A 12:     }"; }
