// Condicionales 
$color-fondo: #FF6600;
$porcentaje: lightness( $color-fondo );

@if $porcentaje < 50% {
    .info-color {
        /* Fondo Oscuro */
        content: $porcentaje;
        color: white;
        background-color: $color-fondo;
    }
}
@else if $porcentaje > 50% {
    .info-color {
         /* Fondo Claro */
         content: $porcentaje;
         color: black;
         background-color: $color-fondo;
    }
}
@else {
    .info-color {
        /* Fondo con 50% de equilibrio */
        content: $porcentaje;
        background-color: $color-fondo;
        color: #F3F3F3;
    }
}
