// Bucles/Ciclos
$social: ( facebook, #3B5998 ), ( twitter, #00ACED ), ( gplus, #DD4B39 );   // Lista anidada.

// Iteramos sobre cada uno de los elementos de las listas anidadas
@each $nombre-red, $color-red in $social {
    .btn-#{ $nombre-red } {
        @include btn-social;
        background: {
            color: $color-red;
            image: url( '../images/icon-#{ $nombre-red }.png' );
            position: 8px 12px;
            repeat: no-repeat;
            size: 20px 20px;
        }
    }
}

/* Sistema de Grillas */
// Iteramos para crear el sistema de grillas al estilo de los frameworks de CSS
@for $i from 1 through 12 {
    .col-#{ $i } {
        margin: 0 10px;
        width: ( 64px * $i );   // 768px / 12 = 64px
    }
}

/* Sistema de margenes izquierdos */
// Iteramos para crear margenes izquierdos
$e: 1;
@while $e < 12 {
    .pre-#{ $e } {
        margin-left: ( 64px * $e ) + ( 20px * $e );
    }
    $e: $e + 1;
}