/* Generado usando la directiva @at-root */
.content-article {
    font-size: 1.2rem;

    .header {
        color: #999999;

        // Aplica como selector de bloque
        @at-root {
            .title {
                font-size: 2.2em;
            }
            .sub-title {
                font-size: 1.8em
            }    
        }
        
    }
    // Aplica como selector de linea
    @at-root .content {
        color: #333333;
        text-align: justify;
        font-size: .9em;
    }
    .foot {
        background-color: #C1C1C1;
    }
}

@media only screen and ( min-width: 768px ) {
    .header {
        .title {
            color: darkorange; 
        }
        .sub-title {
            color: orange; 
        }
    }
    .content {
        // Aplica como selector excluyente de directiva (en este caso @media)
        @at-root ( without: media ) {
            font-size: 1.2rem;
        }
        text-align: unset;
    }
}