// Extends

.box-sel {
    // Elemento con las propiedades que van a ser extendidas
    width: 100%;
    height: 100%;
    position: relative;

    // Esta Anidacion sera extendida
    .big {
        font-size: 1.2rem;
        padding: 20px;
    }
}

.box-new {
    color: pink;
    @extend .box-sel;       

    // Esta Anidacion NO sera extendida
    .este {
        text-align: center;
    }
}

.box-other {
    @extend .box-sel;
}

// Extends using Placeholder Selectors (Selectores de marcador de posicion)
// Este tipo de selector debe hacer uso de un % y no va a generar por si solo codigo CSS, hasta ser extendido

%selector {
    // Elemento con las propiedades que van a ser extendidas 
    display: inline-block;
    padding: 5px;
    margin: 0;
}

.btn {
    @extend %selector;
}
.btn-2 {
    color: yellow;
    @extend %selector;
}

// Este selector a diferencia del anterior (que era un mixin) no genera codigo a no ser que sea extendido desde otro selector
%btn-social {
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: .8em;
    padding: 10px 20px 10px 32px;
    // Anidando propiedades de CSS
    text: {
        decoration: none;
        transform: uppercase;
    }
    background: {
        position: 8px 12px;
        repeat: no-repeat;
        size: 20px 20px;
    }
} 

