// Extends

.box-sel {
    // Elemento con las propiedades que van a ser extendidas
    width: 100%;
    height: 100%;
    position: relative;
}

.box-new {
    color: pink;
    @extend .box-sel;       
}

.box-other {
    @extend .box-sel;
}