// Functions
$fvar: 100px;
$fcolor: #FF6600;
$color: rgba( $fcolor, .3 );                  // Funcion 'rgba' de Sass para Colores

.fun-selector {
    width: if( $fvar < 100px, $fvar, 100% );  // Funcion 'if' de Sass
    background-color: $color;
}