// Functions
$fvar: 99px;
$fcolor: #FF6600;
$color: rgba( $fcolor, .3 );                  // Funcion 'rgba' de Sass para Colores

.fun-selector {
    width: if( variable-exists( 'fvar' ) and $fvar < 100px, $fvar, 100% );  // true ($fvar)
    background-color: if( mixin-exists( $name: boxes ), $color, blue );   // false (blue)
    font-size: if( function-exists( fuentes ), 14px, 1.3rem );              // false (1.3rem)
}

// NOTA:
//   Las funciones de introspeccion o inspeccion retornaran 'true/false' de acuerdo al cumplimiento
//   nombre de: variable, mixin o funcion que se le pase, estos pueden pasarse con o sin comillas
