.container {
    color: $title;
    margin: 0 auto;
    max-width: 680px;
    padding: 0 20px;
}

.box {
    @include box( $box-bg, $box-br, 20px );
    
    .head {
        border-bottom: 1px solid #9BC1BC;
        padding-bottom: 10px;

        h3 {
            color: #5CA4A9;
            margin: 0;
        }
    }

    .content {
        padding-top: 10px;
    }
}

.box-grey {
    @include box( #2B3A34, 6, 50px );
}

/* Forma 1: */ 
// Uso de MediaQuery definido como Mixin
.selector {
    padding: 20px;
    @include mq-tablet {
        padding: 10px;
    }
}
/* Forma 2: */ 
// Uso de MediaQuery definido como Mixin
@include mq-tablet {
    .selector {
        padding: 20px;
    }
    .selector-2 {
        padding: 30px;
    }
    .selector-3 {
        padding: 40px;
    }
}