
@mixin box( $bg: #F2F2F2, $radius: null, $space: 20px ) {
    background-color: $bg;
    border-radius: $radius;
    margin-bottom: $space;
    padding: ( $space / 2 );

    // Condicional usando las directivas @if @else
    @if lightness( $bg ) < 50% {    // Con la funcion lightness() de Sass, podemos definir el porcentaje de claridad de un color dado.
        color: white;
    }
    @else {
        color: $text;
    }
}

// Define un MediaQuery como un Mixin
@mixin mq-tablet {
    @media ( min-width: 680px ) and ( max-width: 1024px ) {
        @content;       // Indica que un mixin acepta bloques de cdigo completos
    }
}