// Define estilos para las cajas
@mixin box( $bg: #F2F2F2, $radius: null, $space: 20px ) {
    background-color: $bg;
    // Valida si el valor de radius NO esta asignado en pixeles
    @if unit( $radius ) != 'px' {
        @error 'La unidad de medida debe ser en pixeles';
        @debug 'El valor ingresado es: ' + $radius;         // La ejecución no continua. La directiva @error detiene la ejecución y
        $radius: 1px * $radius;                             // Lanza el respectivo error dentro del archivo css final, en la terminal donde se esta procesando Sass a CSS y en el navegador
    }
    @else {
        border-radius: $radius;
    }
    margin-bottom: $space;
    padding: ( $space / 2 );

    // Condicional usando las directivas @if @else
    @if lightness( $bg ) < 50% {    // Con la funcion lightness() de Sass, podemos definir el porcentaje de claridad de un color dado.
        color: white;
    }
    @else {
        color: $text;
    }
}