$text: #444;
$font-family: "Helvetica", sans-serif;
$title: #888;
$title-font-family: "Georgia", serif;

// Mapas en Sass
$color: (
    autor: #FF0000,
    editor: #FF6600,
    admin: green,
    super: blue
);

$box-bg: #E6EBE0;
$box-br: 5px;

// Forma 1:
p {
    color: map-get( $map: $color, $key: admin );
}
// Forma 2:
a {
    color: map-get( $color, super ); 
}


